* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 90%;
  padding-bottom: [footer-height];
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eee;
  background-color: #002129;
  word-wrap: break-word;
  padding-top: 4rem;
}

.container {
  background-color: #333061;
  /* margin: 20%; */
  width: 400px;
  margin: 0 auto;
  padding: 1rem;

  border: 2px solid rgb(23, 23, 23);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.split {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
}

.login,
.signup {
  /* display: block; */
  width: 48%;
  background-color: #002129;
  border: 1px solid transparent;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #002129;
}

.login-active {
  background-color: #8ca2ec;
}

.signup-active {
  background-color: #16b116;
}

.form {
  display: block;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.form-title {
  text-align: center;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #9e9ad8;
  border: 1px solid transparent;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 0.5rem;
  padding-left: 1rem;
  outline: none;
  text-align: center;
  height: 40px;
  font-size: 1.2em;
  font-family: "Oxygen Mono", monospace;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
input:focus {
  background-color: #99aff8;
}
input:focus::placeholder {
  color: transparent;
}
input::placeholder {
  font-size: 1.2em;
  text-align: center;
}

.btn {
  display: block;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-bottom: 2rem;
  margin-top: 1.2rem;
  cursor: pointer;
  /* font-family: "Titillium Web", sans-serif; */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.btn-login {
  background-color: #8ca2ec;
}
.btn-login:hover {
  background-color: #99aff8;
}

.btn-signup {
  background-color: #16b116;
}
.btn-signup:hover {
  background-color: #1cc41c;
}

.btn-delete {
  background-color: #fc4c4c;
}
.btn-delete:hover {
  background-color: #ff5c5c;
}

.error {
  font-size: 1.3rem;
  text-align: center;
  color: #fc4c4c;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  height: [footer-height];
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: #333061;
  color: #eee;
  margin: 0 auto;
  width: 400px;
  border: 2px solid rgb(23, 23, 23);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}
.footer a {
  cursor: pointer;
  color: #eee;
}
